


POSTGRES_USER=postgres
POSTGRES_PASSWORD=dsvdv
POSTGRES_DB=upcycleconnect


JWT_SECRET=clé


SMTP_EMAIL=ton.adresse@gmail.com
SMTP_PASSWORD=password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587


BACKEND_URL=https://upcycle-connect.fr
FRONTEND_URL=https://upcycle-connect.fr


FRONT_PORT=8080
